<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Selection</title>
</head>
<body>
    <h1>Subject Selection</h1>

    <ul>
        <li><a href="/attendance/IS">Information System</a></li>
        <li><a href="/attendance/IAI">Internet & Intranet</a></li>
        <li><a href="/attendance/EPP">Engineering Professional Practice</a></li>
        <li><a href="/attendance/SAM">Simulation and Modeling</a></li>
        <li><a href="/attendance/BD">Big Data</a></li>
        <li><a href="/attendance/MM">MultiMedia</a></li>
        
    </ul>
</body>
</html>
